body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* header css */
header {
  background-color: #1f2937;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 40px 150px;
}
h1 { 
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
    display: inline-block;
    position: relative;
    bottom: 30px;
}
#second-heading{
   font-size: 48px;
   color: #f9faf8;
   font-weight: 900;
   display: inline;
   position: relative;
   top:15px;
   
}
.header-content{
    font-size: 18px;
    color: #e5e7eb;
    width: 550px;
}
.links{
    display: flex;
    position: absolute;
    right: 150px;
    top:15px;
    gap: 20px;
}
#img-holder{
    width: 500px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.36);
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 150px;
    top: 103px;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 130px;
    border-radius: 7px;
    transition: 0.2s ease;
}
button:hover{
    filter: brightness(0.90);
}


/* main css */
main{
    padding: 30px 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#info-heading{
    margin: 0px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 30px;
}
.box{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.description-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding-top: 5px;
}
.description{
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 15px;
    color: #1f2937;
}



.quote-box{
    background-color: #e5e7eb;
    padding: 70px 310px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}    
    
#quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 400;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
#author{
    font-weight: 700;
    font-size: 23px;
    display: inline-flex;
    position: relative;
    left: 700px;
    bottom: 25px;
    margin: 0;
}

/* footer css */
footer{
    margin: 40px 200px;
    padding:40px 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
}
#action{
    font-size: 18px;
    font-weight: 650;
    display: flex;
    margin: 0;
}
#action-text{
    margin: 0;
    display: inline;
    font-size: 15px;
}
#second-signup{
    border: 2px solid white; 
}
.button{
    display: inline;
    position: relative;
    left: 350px;
}

#copyright{
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 70px;
}


